* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: black;
  color: white;
  overflow: hidden;
}
i {
  color: white;
}
.topnav {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 10px;
}
.left {
  margin-left: 60px;
}
.right a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}
.right a:hover {
  text-decoration: underline;
}
.icon {
  display: none;
}
.drone {
  position: absolute;
  top: 200px;
  right: 100px;
}
.pre {
  width: 200px;
  text-align: center;
  overflow: hidden;
  float: right;
  margin-top: 5px;
}
.pre div {
  padding: 5px;
}
.pre a {
  color: white;
  margin-top: 5px;
  text-decoration: none;
  font-size: 20px;
}
.preview {
  display: none;
}
.icon {
  display: none;
}

/* ***************************************************************** VIEW 4 CSS ************************************************** */

.text {
  position: absolute;
  color: white;
  top: 70%;
  width: 550px;
  left: 100px;
  opacity: 0;
  animation: textanimation 4s forwards;
}

@keyframes textanimation {
  100% {
    opacity: 1;
    transform: translateY(-250px);
  }
}

.text h1 {
  font-size: 40px;
}

.text p {
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .right a:not(:last-child) {
    display: none;
  }
  .icon {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  .droveDiv {
    width: 100%;
  }
  .drone {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 13%;
  }
  .text {
    position: absolute;
    color: white;
    opacity: 0;
    width: 100%;
    left: 0px;
    animation: textanimation 4s forwards;
  }
  .text h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  .text p {
    padding: 5px;
    height: 0px;
    text-align: center;
    font-size: 25px;
  }
  @keyframes textanimation {
    100% {
      opacity: 1;
      transform: translateY(-50px);
    }
  }
}

